.banner-image-left,
.banner-image,
.banner-image-right {
  vertical-align: middle;
  max-width: 30%;
  display: inline-block;
  opacity: 0;
}

.banner-image-left.active,
.banner-image.active,
.banner-image-right.active {
  opacity: 1;
}

.banner-image-right.active #Airplane-Illustration #Rectangle {
  animation: 1.5s infinite alternate streamLevitation;
  animation-timing-function: ease-in-out;
}

.user-agreement-container,
.privacy-policy-container {
  font-family: DinNextLTPro, sans-serif;
  color: hsla(191.84210526315786, 100.00%, 14.90%, 1.00);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding-top: 20px;
}

@keyframes streamLevitation {
  from {
    y: 39;
  }
  to {
    y: 34;
  }
}

.itin-gen-animation-container {
  position: relative;
  overflow: hidden;
}
#iPhone {
  position: absolute;
  top: 720px;
  left: 25px;
  opacity: 0;
  z-index: 110000 !important;
}
#slack {
  position: absolute;
  bottom: 50px;
  left: 25px;
}
#email {
  position: absolute;
  top: 100px;
  left: 25px;
}
#itinerary-1,
#itinerary-2,
#itinerary-3 {
  position: absolute;
  bottom: 100px;
  right: 25px;
  overflow: visible;
}

/* NEW ITINERARY ANIMATION - MARCH 14, 2019*/
.messaging-channel {
  width: 50%;
}

.channel-0,
.channel-1,
.channel-2 {
  position: absolute;
  top: 50px;
  left: 0;
}

/* Itinerary */
.channel-3 {
  width: 45%;
  float: right;
}

.nlp-animation-container {
  position: relative;
  overflow: hidden;
  height: 19.5vw;
  padding: 0;
  max-height: 265px;
}

  #nlp-airline,
  #nlp-hotel,
  #nlp-ota {
    position: absolute;
    top: 0;
    left: 0;
  }

  #nlp-airline {
    z-index: 100;
  }

  #nlp-hotel {
    z-index: 90;
  }

  #nlp-ota {
    z-index: 80;
  }